<div class='form__textarea form__textarea-{{this.class}}'>
    <textarea
        maxlength='{{this.maxlength}}'
        data-name='{{this.dataName}}'
        class='textarea textarea-{{this.class}}'
        placeholder='{{this.placeholder}}'
    >{{this.value}}</textarea>
</div>