{{#if thisFile}}
    <form
        id='{{this.componentId}}'
        class='form form-{{this.className}}'
        action='{{this.url}}'
        method='{{this.method}}'
        enctype='multipart/form-data'
    ></form>
{{else}}
    <form
        id='{{this.componentId}}'
        class='form form-{{this.className}}'
        action='{{this.url}}'
        method='{{this.method}}'
        enctype='application/x-www-form-urlencoded'
    ></form>
{{/if}}