<div class='strach-layout flex-column-centered page__layout page__layout-board'>
    {{{header}}}
    <div
        style="background: url('/img/{{this.thumbnail_url}}'); background-size: cover"
        class='flex-row-centered container-board'
    >
        {{{sidebar}}}
        <div class='flex-column-centered board'>
            {{{boardMenu}}}
            {{{boardContent}}}
        </div>
    </div>
</div>