{{#if disable}}
    <a class='link-button {{this.className}}-link_disabled' href='{{this.href}}' aria-disabled='true'>
        {{this.text}}
    </a>
{{else}}
    <a class='link-button {{this.className}}-link' href='{{this.href}}'>
        {{this.text}}
    </a>
{{/if}}