{{#if disable}}
    <a
        class='link-button {{this.className}}-link_disabled'
        href='{{this.href}}'
        data-action='{{this.action}}'
        data-section='{{this.section}}'
        aria-disabled='true'
    >
        {{this.text}}
    </a>
{{else}}
    <a
        class='link-button {{this.className}}-link'
        data-action='{{this.action}}'
        data-section='{{this.section}}'
        href='{{this.href}}'
    >
        {{this.text}}
    </a>
{{/if}}