 {{#if disable}}
<div class='form__input form__input-{{this.className}} form__input_disable'>
{{else}}
<div class='form__input form__input-{{this.className}}'>
{{/if}}
    {{#if withImage}}
        <img src='{{this.icon}}.svg' />
    {{/if}}
    {{#if disable}}
    <input
        type='{{this.type}}'
        input-type='{{this.inputType}}'
        placeholder='{{this.placeholder}}'
        class='input input-{{this.className}} input_disable'
        value="{{this.text}}"
    / disabled>
    {{else}}
    <input
        type='{{this.type}}'
        input-type='{{this.inputType}}'
        placeholder='{{this.placeholder}}'
        class='input input-{{this.className}}'
        value="{{this.text}}"
    / >
    {{/if}}
</div>