<div class="form__input form__input_{{this.className}}">
    <img src="{{this.icon}}.svg" />
    <input
        type="{{this.type}}"
        input-type="{{this.inputType}}"
        class="input input_{{this.className}}"
        placeholder="{{this.placeholder}}"
    />
</div>