<div class='form__textarea form__textarea-{{this.className}}'>
    <textarea
        maxlength='{{this.maxLength}}'
        rows='{{this.rows}}'
        cols='{{this.columns}}'
        data-name="{{this.dataName}}"
        class='textarea textarea-{{this.className}}'
        placeholder='{{this.placeholder}}'
    ></textarea>
</div>